#app-content.error
{
    color: red;
    padding: 20px;
}

.app-drawio > #app-content {
    overflow: hidden;
}

#content.app-drawio {
    margin: 0;
    height: 100%;
    padding-block-end: 0 !important;
    z-index: 2147483647;
}